# Protect wp-config.php

<Files wp-config.php>
Order Allow,Deny
Deny from all
</Files>

# Protect .htaccess

<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Enable CORS for REST API

<IfModule mod_headers.c>
  <FilesMatch "wp-json">
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Allow-Headers "X-WP-Nonce, Content-Type, Authorization"
  </FilesMatch>
</IfModule>
